---
import { getEntry, render } from "astro:content";

import BaseLayout from "@layouts/BaseLayout.astro";
import Image from "@components/Image.astro";
import "@styles/prism.css";

const me = await getEntry("page", "me");
const { Content } = await render(me);
const pageTitle = "このサイトについて";
---

<BaseLayout title={pageTitle} description={pageTitle}>
  <h1 class="pb-2 text-2xl font-semibold lg:text-4xl xl:mb-12">
    {pageTitle}
  </h1>
  <div
    class="grid items-start space-y-2 xl:grid-cols-4 xl:gap-x-8 xl:space-y-0"
  >
    <div
      class="flex flex-col items-center gap-3 space-x-2 py-12 xl:py-6 2xl:gap-6"
    >
      <Image
        alt={me.data.name}
        src={"/images/avatar-ega.jpg"}
        width={192}
        height={192}
        className="mr-0 rounded-full"
      />
      <div class="!ml-0 text-2xl font-semibold">{me.data.name}</div>
      <span
        class="!ml-0 whitespace-nowrap text-base text-gray-600 dark:text-gray-400"
        >{me.data.occupation}</span
      >
    </div>
    <div class="xl:col-span-3">
      <div
        class="lg:text-md blog prose max-w-none break-words dark:prose-dark xl:text-xl"
      >
        <Content />
      </div>
    </div>
  </div>
</BaseLayout>
