---
import { render } from "astro:content";

import { getBlogs, getRelatedBlogs } from "@lib/blog";
import MarkdownLayout from "@layouts/MarkdownLayout.astro";
import BlogHead from "@components/BlogHead.astro";
import TOC from "@components/TOC.astro"
import "@styles/prism.css";
import GoogleAdsense from "@components/GoogleAdsense.astro";
import PrevNextLink from "@components/PrevNextLink.astro"
import RelatedBlogLinks from "@components/RelatedBlogLinks.astro";

export const getStaticPaths = async () => {
  const allBlogs = await getBlogs();

  return allBlogs.map((blog, i) => {
    const prev = i !== allBlogs.length -1 ? allBlogs[i+1] : undefined;
    const next = i !== 0 ? allBlogs[i-1] : undefined;
    return {
      params: { slug: blog.id },
      props: { blog, prev, next }
    }
  })
};

const { blog, prev, next } = Astro.props;

if (!blog) {
  return Astro.redirect('/404');
}
const { Content, headings } = await render(blog);

const description =
  blog.data.summary || blog.body?.slice(0, 30).replace(/\n/g, "") || "";

const toc = headings.filter((heading) => heading.depth <= 3 && !(heading.slug === "footnote-label" && heading.text === "Footnotes"));

const relatedBlogs = await getRelatedBlogs(blog.data.tags, 5, blog.id);
---

<MarkdownLayout title={blog.data.title} description={description}>
  <div class="xl:grid xl:grid-cols-10 xl:gap-8 xl:items-start">
    <!-- TODO: <div class="xl:col-span-1" /> -->
    <div class="xl:col-span-7">
      <BlogHead
        title={blog.data.title}
        date={blog.data.date}
        tags={blog.data.tags}
      />
      <Content />
      <PrevNextLink prev={prev} next={next} />

      {relatedBlogs.length > 0 && (
        <RelatedBlogLinks blogs={relatedBlogs} />
      )}

    </div>
    <aside class="hidden xl:col-span-3 xl:flex xl:flex-col xl:sticky xl:top-28 gap-y-6">
      {import.meta.env.CF_PAGES_BRANCH === "main" ? (
        <GoogleAdsense adClient={import.meta.env.AD_CLIENT} adSlot={import.meta.env.AD_SIDE_SLOT} />
      ) : (
        <div class="h-[200px] p-6 w-full bg-red-200 text-center text-gray-600">Ad</div>
      )}
      {toc.length > 0 && <TOC headings={toc} />}
    </aside>
  </div>
</MarkdownLayout>
