---
import type { CollectionEntry } from "astro:content";

import { getBlogs } from "@lib/blog";
import MarkdownLayout from "@layouts/MarkdownLayout.astro";
import BlogHead from "@components/BlogHead.astro";
import TOC from "@components/TOC.astro"
import "@styles/prism.css";
import GoogleAdsense from "@components/GoogleAdsense.astro";

export const getStaticPaths = async () => {
  const allBlogs = await getBlogs();

  return allBlogs.map((blog) => ({
    params: { slug: blog.slug },
    props: { blog }
  }));
};

const { blog } = Astro.props as { blog: CollectionEntry<"blog"> };
const { Content, headings } = await blog.render();

headings.filter((heading) => heading.depth<= 3)

const description =
  blog.data.summary || blog.body.slice(0, 30).replace(/\n/g, "");

const toc = headings.filter((heading) => heading.depth <= 3 && !(heading.slug === "footnote-label" && heading.text === "Footnotes"));
---

<MarkdownLayout title={blog.data.title} description={description}>
  <BlogHead
    title={blog.data.title}
    date={blog.data.date}
    tags={blog.data.tags}
  />
  <div class="2xl:grid 2xl:grid-cols-10 2xl:gap-8 2xl:items-start">
    <div class={`${toc.length > 0 ? "2xl:col-span-7" : "2xl:col-span-10"}`}>
      <Content />
    </div>
    <aside class="hidden 2xl:col-span-3 2xl:block">
      {import.meta.env.CF_PAGES_BRANCH === "main" && (
        <GoogleAdsense adClient={import.meta.env.AD_CLIENT} adSlot={import.meta.env.AD_SLOT} />
      )}
      {toc.length > 0 && <TOC headings={toc} />}
    </aside>
  </div>
</MarkdownLayout>
