---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getBlogs, getTags } from "@lib/blog";
import { kebabCase } from "@lib/utils/kebabCase";
import Link from "@components/Link.astro";
import BlogListItem from "@components/BlogListItem.astro";

export const getStaticPaths = async () => {
  const allBlogs = await getBlogs();
  const tags = Object.keys(await getTags());

  return tags.map((tag) => {
    const blogs = allBlogs.filter((blog) =>
      blog.data.tags.map((t) => t.toLowerCase()).includes(tag.toLowerCase())
    );

    return {
      params: { tag: kebabCase(tag) },
      props: { blogs, tag }
    };
  });
};

const { blogs, tag } = Astro.props;

const pageTitle = `「${tag}」の記事一覧`;
---

<BaseLayout title={pageTitle} description={pageTitle}>
  <div class="pb-20 pt-8">
    <p>{`${pageTitle}(${blogs.length}記事)`}</p>
  </div>
  <div>
    <ol class="flex flex-col gap-8">
      {
        blogs.map((blog) => (
          <BlogListItem blog={blog} />
        ))
      }
    </ol>
  </div>
  <div class="pb-8 pt-20">
    <Link href="/tags">すべてのタグ</Link>
  </div>
</BaseLayout>
