---
import { formatInTimeZone } from "date-fns-tz";

import BaseLayout from "@layouts/BaseLayout.astro";
import Link from "@components/Link.astro";
import { siteMeta } from "@constants";
import { getBlogs } from "@lib/blog";

const latestBlogs = (await getBlogs()).slice(0, 5); // max 5 posts
---

<BaseLayout>
  <div class="pt-8 pb-20">
    <p>{`${siteMeta.description} ${siteMeta.author} の Web サイトです。`}</p>
  </div>
  <div>
    <ol class="flex flex-col gap-8">
      {
        latestBlogs.map((blog) => {
          const formattedDate = formatInTimeZone(
            new Date(blog.data.date),
            "Asia/Tokyo",
            "yyyy年MM月dd日"
          );
          return (
            <li>
              <time
                class="block text-gray-500 dark:text-gray-400"
                datetime={blog.data.date}
              >
                {formattedDate}
              </time>
              <Link href={`/blog/${blog.slug}`}>{blog.data.title}</Link>
              <p>{blog.data.summary}</p>
            </li>
          );
        })
      }
    </ol>
  </div>
  <div class="py-12">
    <Link href="/blog">もっと見る</Link>
  </div>
</BaseLayout>
