---
import { siteMeta } from "@constants";
import { join } from "path";

type Props = {
  title: string;
  description: string;
  currentUrl: URL;
};

const generator = Astro.generator;
const { twitter, socialBanner } = siteMeta;
const { title, description, currentUrl } = Astro.props;

const currentPath = currentUrl.pathname.split(".")[0];
const isBlogPage = currentPath.startsWith("/blog/") && currentPath !== "/blog/";
const ogUrl = currentUrl.href;
const ogType = isBlogPage ? "article" : "website";
const ogImage = new URL(
  isBlogPage ? join("/images", currentPath, "og.png") : socialBanner,
  currentUrl
);
const twCardType = isBlogPage ? "summary_large_image" : "summary";
---

<title>{title}</title>
<meta name="description" content={description} />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={generator} />
<meta name="robots" content="follow, index" />
<link rel="sitemap" href="/sitemap-index.xml" />
<!-- icon, Favicon -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="icon" sizes="16x16" href="/favicons/favicon.ico" />
<link rel="icon" type="image/png" href="/favicons/favicon.png" />
<link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/favicons/apple-touch-icon.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="/favicons/favicon-32x32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="/favicons/favicon-16x16.png"
/>
<link rel="manifest" href="/favicons/site.webmanifest" crossorigin="use-credentials" />
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#0ea5e9" />
<meta name="msapplication-TileColor" content="#000000" />
<meta name="theme-color" content="#000000" />
<link rel="alternate" type="application/rss+xml" href="/feed.xml" />
<!-- OGP -->
<meta property="og:url" content={ogUrl} />
<meta property="og:type" content={ogType} />
<meta property="og:site_name" content={title} />
<meta property="og:description" content={description} />
<meta property="og:title" content={title} />
<meta property="og:image" content={ogImage} />
<meta name="twitter:image" content={ogImage} />
<meta name="twitter:card" content={twCardType} />
<meta name="twitter:site" content={twitter} />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
