---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import SEO from "@components/SEO.astro";
import GoogleTagManager from "@components/GoogleTagManager.astro";
import GoogleAdsense from "@components/GoogleAdsense.astro";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
const currentUrl = Astro.url;

const gtmId = import.meta.env.GTM_ID;
const adClient = import.meta.env.AD_CLIENT;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    {
      import.meta.env.CF_PAGES_BRANCH === "main" && (
        <>
          <GoogleTagManager gtmId={gtmId} />
          <script
            is:inline
            define:vars={{ adClient }}
            async
            src={`https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=${adClient}`}
            crossorigin="anonymous"
          ></script>
        </>
      )
    }
    <SEO title={title} description={description} currentUrl={currentUrl} />
  </head>
  <body
    class="antialised bg-gray-100 text-gray-800 dark:bg-gray-800 dark:text-gray-200 lg:text-lg xl:text-xl 2xl:text-2xl"
  >
    <div>
      <Header />
      <main class="xl:pt-6">
        <div class="mx-auto max-w-6xl px-6 pb-12">
          <slot />
          <div class="mt-8">
            {import.meta.env.CF_PAGES_BRANCH == "main" ? (
            <GoogleAdsense adClient={import.meta.env.AD_CLIENT} adSlot={import.meta.env.AD_BOTTOM_SLOT} />
            ) : (
              <div class="h-[100px] p-6 w-full bg-red-200 text-center text-gray-600">
                <span>Ad</span>
              </div>
            )}
          </div>
        </div>
      </main>
      <Footer />
    </div>
    <style is:global>
      /* コード、数式 */
      .prose pre,
      .math {
        @apply text-xs xl:text-sm;
      }
      /* チェックボックス */
      .prose ul:has(> .task-list-item) {
        @apply pl-0;
      }
      .prose .task-list-item::before {
        @apply hidden;
      }
      .prose .task-list-item {
        @apply list-none pl-0;
      }
      .prose .task-list-item > input {
        @apply my-0 mr-2 align-middle;
      }
      /* 注釈 */
      .prose .footnotes {
        @apply mt-20 border-t-[1px] border-gray-200 pt-12 dark:border-gray-700;
      }
      .prose .footnotes #footnote-label {
        @apply sr-only;
      }
      .prose a[data-footnote-ref] {
        @apply no-underline;
      }
      .prose .data-footnote-backref {
        @apply no-underline;
      }
      /* アンカーリンク */
      .prose a:has(.anchor-icon) {
        @apply text-inherit hover:!text-inherit;
      }
      .prose .anchor-icon {
        @apply my-0 ml-[-1.25rem] inline-block w-5 align-middle dark:text-gray-200 md:invisible;
      }
      .prose h1:hover > a .anchor-icon,
      .prose h2:hover > a .anchor-icon,
      .prose h3:hover > a .anchor-icon,
      .prose h4:hover > a .anchor-icon,
      .prose h5:hover > a .anchor-icon,
      .prose h6:hover > a .anchor-icon {
        @apply visible;
      }
      /* table */
      .prose thead {
        @apply bg-gray-200 dark:bg-gray-600;
      }
      .prose th[align="center"], td[align="center"] {
        @apply text-center;
      }
      .prose th[align="left"], td[align="left"] {
        @apply text-left pl-4;
      }
      .prose th[align="right"], td[align="right"] {
        @apply text-right pr-4;
      }
      .prose th, td {
        @apply py-2 border border-gray-300 dark:border-gray-700;
      }
    </style>
  </body>
</html>
