---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import SEO from "@components/SEO.astro";
import GoogleTagManager from "@components/GoogleTagManager.astro";
import { siteMeta } from "@constants";

type Props = {
  title: string;
  description: string;
  children: any;
};

const { title, description } = Astro.props;
const currentUrl = Astro.url;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <GoogleTagManager gtmId={import.meta.env.GTM_ID} />
    <SEO
      title={Astro.url.pathname !== "/"
        ? `${title} | ${siteMeta.title}`
        : title}
      description={description}
      currentUrl={currentUrl}
    />
  </head>
  <body
    class="antialised bg-gray-100 text-gray-800 dark:bg-gray-800 dark:text-gray-200 lg:text-lg xl:text-xl 2xl:text-2xl"
  >
    <div>
      <Header />
      <main>
        <div class="mx-auto max-w-2xl px-6 pb-12 2xl:max-w-4xl">
          <slot />
        </div>
      </main>
      <Footer />
    </div>
  </body>
</html>

<style is:global>
  /* コード、数式 */
  .prose pre,
  .math {
    @apply text-xs xl:text-sm;
  }
  /* チェックボックス */
  .prose ul:has(> .task-list-item) {
    @apply pl-0;
  }
  .prose .task-list-item::before {
    @apply hidden;
  }
  .prose .task-list-item {
    @apply list-none pl-0;
  }
  .prose .task-list-item > input {
    @apply my-0 mr-2 align-middle;
  }
  /* 注釈 */
  .prose .footnotes {
    @apply mt-20 border-t-[1px] border-gray-200 pt-12 dark:border-gray-700;
  }
  .prose .footnotes #footnote-label {
    @apply sr-only;
  }
  .prose a[data-footnote-ref] {
    @apply no-underline;
  }
  .prose .data-footnote-backref {
    @apply no-underline;
  }
  /* アンカーリンク */
  .prose a:has(.anchor-icon) {
    @apply text-inherit hover:!text-inherit;
  }
  .prose .anchor-icon {
    @apply my-0 ml-[-1.25rem] inline-block w-5 align-middle dark:text-gray-200 md:invisible;
  }
  .prose h1:hover > a .anchor-icon,
  .prose h2:hover > a .anchor-icon,
  .prose h3:hover > a .anchor-icon,
  .prose h4:hover > a .anchor-icon,
  .prose h5:hover > a .anchor-icon,
  .prose h6:hover > a .anchor-icon {
    @apply visible;
  }
</style>
